body {
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
}

button {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: none;
    background-color: #efefef;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 1.2em;
}

button:hover {
    background-color: silver;
    cursor: pointer;
}

.container {
    display: grid;
    margin: auto;
    padding: 0;
    width: 720px;
    border: 2px solid black;
}

.hovered {
    background-color: black;
}
